;удаление прав на стыковку сброшено на %duration секунд
[config]
duration = 120

;кому разрешено пользоваться командой nodock
[nodockcommand]
id = admin_scanner_01

;базы к которым нельзя стыковать в течении %duration секунд
[nodockexemption]
;станция-телепорт в оптимум
no = start01_proxy_base
;станция
no = ad01_09_base
;станция л
no = ts01_02_base
;станция б
no = ts01_03_base
;CharName - запрет на стыковку со всеми для персонажа
[supernodockedships]