;fighter freighter transport gunboat cruiser battlcruiser battleship solar
;во сколько раз увеличить урон или уменьшить тогда нужно писать в процентах 0.01
[DamageAdjust]
;gold_eagle_gun01_ammo = 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01
;gold_eagle_gun01_ammo = 10, 10, 40, 10, 10, 10, 10, 10

; Corona
torpedo01_mark022_ammo = 750, 1000, 2000, 3000, 4000, 5000
; SNACs
dsy_snova_civ_ammo = 18000, 132000