[config]
enabled = 1

[commodity]
commodity = commodity_boron
;теги запрещающие покупать commodity
tag = [LN]-
tag = |endtag
;Лицензии разрешающие покупку для людей с этими тегами
id = dsy_license_li_n_grp
id = dsy_license_admin