[Config]
; Вы можете иметь столько записей разрешенного модуля, сколько захотите.
allowedmodule = dsy_docking_module_1
; Какой грузоподъемностью должен обладать корабль, чтобы пришвартоваться?
cargo_capacity_limit = 300