[config]
enabled = 1
;Торговые события дают бонус ЗА КАЖДЫЙ предмет, что упорядочивает бонус в зависимости от грузового пространства.
;Боевые события - это вещи.
[CombatEvent]
id = kepler_crunch_junker
name = Placeholder1
url = http://discoverygc.com/forums/showthread.php?tid=134511
objectivemax = 300
playersonly = 0
allowedid = dsy_license_j_grp
allowedid = dsy_license_pf_51_grp
targetid = dsy_license_fc_h_grp
targetid = dsy_license_fc_x_grp
system = IW05
bonusnpc = 2100000, 5
bonusplayer = 2100000, 5
commodityreward = 0
commodity = commodity_ID

[TradeEvent]
id = test_event_trade_1
name = Placeholder2
url = http://discoverygc.com/forums/showthread.php?tid=134511
startbase = li06_03_base
endbase = li06_14_base
bonus = 1000
objectivemax = 300
commodity = commodity_water
limited = 1
allowedid = ge_s_scanner_02
allowedid = ge_s_scanner_powerful
flhookbase = 0
flhookbasename = name_base

[TradeEvent]
id = test_event_trade_2
name = Placeholder2
url = http://discoverygc.com/forums/showthread.php?tid=134511
startbase = li06_03_base
endbase = li06_14_base
bonus = 2000
objectivemax = 300
commodity = commodity_food
limited = 1
allowedid = ge_s_scanner_02
allowedid = ge_s_scanner_powerful
flhookbase = 0
flhookbasename = name_base

[MiningEvent]
id = test_event_mining_1
name = Placeholder_Mining
url = http://discoverygc.com/forums/showthread.php?tid=134511
objectivemax = 1000 ;Max, Current
allowedminerid = id_miner
lAllowedTraderIDs = trader_id
bonus = 2000
limited = 1
commodity = commodity_food
commodityperhit = commodity_per_hit