[HealingRate]
;Light Fighter
target_shipclass=0
;Heavy Fighter
target_shipclass=1
;Freighter
target_shipclass=2
;Very Heavy Fighter
target_shipclass=3
;Super Heavy Fighter
target_shipclass=4
;Bomber
target_shipclass=5
;Transport
target_shipclass=6
;Train
target_shipclass=7
;Heavy Transport
target_shipclass=8
;Super Train
target_shipclass=9
;Liner
target_shipclass=10
;Gunship
target_shipclass=11
;Gunboat
target_shipclass=12
;Destroyer
target_shipclass=13
;Cruiser
target_shipclass=14
;Battlecruiser
target_shipclass=15
;Battleship
target_shipclass=16
;Carrier
target_shipclass=17
;Dreadnought
target_shipclass=18
;Repair Ship
target_shipclass=19
addition=1
multiplier=1.0