[MiningGeneral]
; уровень добычи во всех полях игры, по стандарту 1.0, с одной пушки за выстрел и попадание по астероиду будет 1-5 единиц хапатся
; Замечу, что у полей есть свой "запас". Это в логах читается - 100000 единиц. Правда хз, это на весь сервер влияет или это чисто для игрока показано. Если значение чего-то из оборудки wrong, то запас - 50000.
GenericFactor = 1.0

; логи, по умолчанию 0, 1 включить частично, 2 серьезно.
Debug = 1

[PlayerBonus]
; Бонус лута, при наличии всего необходимого:
; 1.название минерала
; 2.уровень добычи, по стандарту 1.0
; 3.фракция
; 4.луч захвата
; 5.корабль
; 6.пушки\турели 

;;;;;; Corporation IDs ;;;;;;
;Робо-ленд
commod_rubis,		5.00,	fc_rs_grp,     	license_robots_miner,       MinerShip, player_ge_miner_b, barge, donat_barge, interplanetary, barge_rental, Titan_barge, Titan_factory, Titan_factory_suprise, Titan_Aircraft_carrier_Barge, SGShipBarge, SGShipBarge2, Vossk_barge, Bourgeois_barge, mining_laser01, donat_mining_laser01, mining_turret01, mining_turret02, donat_mining_turret01

;The [FieldBonus] раздел имеет следующий формат:
;название поля, уровень добычи
[ZoneBonus]

; Звездные волки
Zone_SF01_asteroids_01, 3.00