; Основной файл конфигурации PvE Controller
; Команды перезагрузки конфигурации (безопасно делать вживую!):
; .pvecontroller reloadall          Перезагружает ВСЮ конфигурацию
; .pvecontroller reloadnpcbounties  Перезагружает раздел NPCBounties.
; .pvecontroller reloadnpcdrops     Перезагружает раздел NPCDrops.
; /pool - просмотр невыплаченных вознаграждений

;; Общие настройки плагина
[General]
debug = 0

; Репутация игрока по отношению к убитому им NPC должна быть ниже этого значения, иначе игрок не получит награды / дропа и т.д.
maximum_reward_rep = 0.0

;; Настройки системы наград NPC
[NPCBounties]
enabled = 1

; через сколько секунд выплачивать награду (по умолчанию 0 = немедленно)
pool_payout_timer = 600

; выплаты в зависимости от размера группы
; пример - если в группе 2 человека, а награда за убитого нпс составляет 350.000 кредитов, то каждый игрок получит по 210.000 кредитов (350.000 умножаем на 0.60)
group_scale = 2, 0.60
group_scale = 3, 0.45
group_scale = 4, 0.36
group_scale = 5, 0.30
group_scale = 6, 0.26
group_scale = 7, 0.23
group_scale = 8, 0.21
group_scale = 9, 0.19
group_scale = 10, 0.18

; выплаты за класс
; class = класс корабля, сумма выплаты
class = 0, 50000 ; легкий истребитель
class = 1, 100000 ; тяжелый истребитель

; Множитель брони истребителя
armor_multiplier = armor_upgrade, 1.6
armor_multiplier = armor_upgrade2, 2.1

; выплаты на конкретные корабли
; пример: ship = li_fighter, 1000000

ship = gold_eagle, 75000
ship = aldrin_ship_npc_repair, 1000000

; Системные множители выплат
; пример: system_multiplier = li01, 1.2
system_multiplier = MP07, 2.0
system_multiplier = PT01, 3.0

;class_type
;class_diff
;warzone_multiplier

;; Настройки системы сброса предметов
[NPCDrops]
enabled = 1
drop_crate = valuable_container_hale_small

; Может иметь несколько предметов в классе
; = класс корабля, название предмета, шанс дропа (1.0 значит всегда)
class = 0, ge_bf_engine_01, 0.25, br_n_grp;вооруженные силы бретони | двигатель истребителя бретони
class = 1, ge_le_engine_01, 0.25, li_n_grp;ввс свободы | двигатель истребителя свободы (у)